<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josephus.pokemongo"
    >

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".PokemonGo"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".activities.LoginActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".activities.GoogleLoginActivity"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity android:name=".activities.MainActivity">
    </activity>
    <activity android:name=".activities.ContainerActivity">
    </activity>
      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b179a59477385b6da9a2b840e84b94e10bc16666" />
      <service android:name=".services.BatchTransferService" />
    <service android:name=".services.BatchEvolveService" />
  </application>

</manifest>